/* GENERAL */
body{
    margin: 0;
    padding: 0;
}
main{
    margin: 8px;
}
.margin-x-40{
    margin: 40px 0;
}


/* HEADER */
header{
    height: 80px;
    background-color: rgb(78, 160, 255);
    background-image: url(../img/pattern.png);
    background-size: 25%;
}
header .logo{
    width: 120px;
    height: 120px;
    padding-left: 10px;
}


/* MAIN */
/* Section 1 */
h1{
    padding: 0;
    margin: 0;
    font-size: 30px;
    font-weight: 600;
}
.subtitle, 
.subtitle-date{
    line-height: 0;
    color: rgb(128, 128, 128);
    font-weight: 800;
}
.subtitle-date{
    font-size: 12px;
    font-weight: 100;
}
p .color-blue{
    color: rgb(78, 160, 255);
}
figure{
    margin: 0;
}
figure figcaption{
    font-size: 10px;
}

/* Section 2 */
p .highlight-yellow{
    background-color: rgb(255, 255, 0);
}

/* Section 3 */
ul{
    padding-left: 15px;
}

/* Section 4 */
table{
    width: 100%;
    border-collapse: collapse;
}
.w-25{
    width: 25%;
}
.w-50{
    width: 50%;
}
table thead{
    background-color: rgb(32, 169, 229);
    color: white;
    margin: 0;
    padding: 0;
}
table tbody .row-highlight{
    background-color: rgb(177, 229, 242);
}

/* Section 5 */
p .highlight-yellow{
    background-color: rgb(255, 255, 0);
}

/* Section 6 */
h2{
    color: rgb(128, 128, 128);
    font-weight: 800;
}
.related-article{
    width: 300px;
    height: 200px;
    font-weight: 600;
    color: white;
    font-size: 20px;
}

